{
  //babel设置,安装stage后这里更改
  "presets": ["es2015", "react","stage-0"],
  //react-transfrom设置
  "env": {
    "development": {
      "plugins": [["react-transform", {
        "transforms": [{
          "transform": "react-transform-hmr",
          "imports": ["react"],
          "locals": ["module"]
        }]
      }]]
    }
  }
}
